registry=https://registry.npmjs.org/
strict-ssl=false

# deactivate update notifier, because when executing commands with npm it requested the registry beforehand(in prod not contactable)
update-notifier=false
